body {
    display: grid;
    place-items: center; /* Căn phần tử theo cả chiều ngang và chiều dọc */
    height: 100vh;
}
fieldset {
    width: 30%;
    display: grid;
    place-items: center; /* Căn phần tử theo cả chiều ngang và chiều dọc */
    height: 45%;
}

legend {
    font-size: xx-large;
}